services:
  # === 1. Service Database ===
  db:
    container_name: drinkshop_sql
    image: ${MSSQL_IMAGE:-mcr.microsoft.com/mssql/server:2022-latest} 
    restart: always 
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${DB_PASSWORD}
    volumes:
      - ./sql_init:/docker-entrypoint-initdb.d/ 
      - sql_data:/var/opt/mssql
    ports:
      - "1433:1433" 
    networks:
      - drinkshop_network
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P '${DB_PASSWORD}' -Q 'SELECT 1' -C || exit 1"]
      interval: 15s
      timeout: 5s
      retries: 10

  # === 2. Service MinIO ===
  minio:
    image: minio/minio
    container_name: drinkshop_minio
    ports:
      - "9000:9000" 
      - "9001:9001" 
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - ./minio_data:/data 
    command: server /data --console-address ":9001"
    networks:
      - drinkshop_network

  # === 3. Service API (Sử dụng Image từ Docker Hub) ===
  api_1: &api_base
    container_name: drinkshop_api_1
    # THAY ĐỔI: Sử dụng image đã build từ Jenkins thay vì build lại
    image: hoangnhat2003/drinkshop-api:${IMAGE_TAG:-latest}
    restart: always
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT:-Production}
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=${CONNECTION_STRING}
      - MinIO__Endpoint=${MINIO_ENDPOINT}
      - MinIO__AccessKey=${MINIO_ROOT_USER}
      - MinIO__SecretKey=${MINIO_ROOT_PASSWORD}
      - MinIO__Bucket=${MINIO_BUCKET}
      - MinIO__UseSSL=${MINIO_USE_SSL}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      db:
        condition: service_healthy
      minio:
        condition: service_started
    networks:
      - drinkshop_network

  api_2:
    <<: *api_base
    container_name: drinkshop_api_2

  # === 4. Service Nginx (Load Balancer) ===
  nginx:
    container_name: drinkshop_nginx
    # Thay 'image: nginx:latest' bằng 'build'
    build:
      context: .
      dockerfile: Dockerfile_Nginx 
    restart: always
    ports:
      - "${NGINX_PORT:-80}:80" 
    networks:
      - drinkshop_network
    depends_on:
      - api_1
      - api_2

networks:
  drinkshop_network:
    driver: bridge 

volumes:
  sql_data: