services:
  db:
    container_name: drinkshop_sql_dev
    image: ${MSSQL_IMAGE:-mcr.microsoft.com/mssql/server:2019-latest}
    user: "0:0"
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${DB_PASSWORD}
    volumes:
      - sql_data_dev:/var/opt/mssql
    ports:
      - "1434:1433" # Cổng SQL Dev
    networks:
      - drinkshop_network_dev
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P '${DB_PASSWORD}' -Q 'SELECT 1' -C || exit 1"]
      interval: 10s
      retries: 5

  minio:
    image: minio/minio
    container_name: drinkshop_minio_dev
    ports:
      - "9002:9000"
      - "9003:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_data_dev:/data
    command: server /data --console-address ":9001"
    networks:
      - drinkshop_network_dev

  api_1: &api_base
    container_name: drinkshop_api_1_dev
    image: hoangnhat2003/drinkshop-api:${IMAGE_TAG}
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=${CONNECTION_STRING}
    depends_on:
      db: { condition: service_healthy }
    networks:
      - drinkshop_network_dev

  api_2:
    <<: *api_base
    container_name: drinkshop_api_2_dev

  nginx:
    container_name: drinkshop_nginx_dev
    build: { context: ., dockerfile: Dockerfile_Nginx_Dev }
    ports:
      - "8081:80" # Cổng truy cập Web Dev
    networks:
      - drinkshop_network_dev

networks:
  drinkshop_network_dev:
    driver: bridge

volumes:
  sql_data_dev:
  minio_data_dev: